.page {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background: transparent;
    color: white;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

#starttext {
    overflow: auto;
    text-align: center;
    width:55%;
    height:45%;
    border: solid rgb(172, 172, 172);
    margin-left: auto;
    margin-right: auto;
    background:  rgba(0, 0, 0, 0.541);

}


body {
    margin: 0px;
    height: 100%;
    font-family: monospace;
    background: black;
    font-size: 18px;
}

.game {
    display: none;
    color:white;
    justify-content: center;
    text-align: center;
    position: relative;
    margin-left: 10%;
    margin-right: 10%;
}

button:hover {
filter: brightness(165%);

}
.bigsq:hover {
    filter: brightness(165%);
}